x-common-depends-on: &common-depends-on
  migrate:
    condition: service_completed_successfully
  azurite:
    condition: service_healthy

x-common-env: &common-env
  LOG_LEVEL: "WARNING"
  DJANGO_LOG_LEVEL: "WARNING"
  WABO_ENABLED: "true"
  SECRET_KEY: "insecure"
  JWT_SECRET_KEY: "insecure"
  DATABASE_HOST: "database"
  PYTHONBREAKPOINT: true
  UWSGI_STATIC_MAP: '/iiif-metadata/static=/static'
  AZURITE_STORAGE_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"
  AZURITE_QUEUE_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;QueueEndpoint=http://azurite:10001/devstoreaccount1;"

x-app: &base-app
  build:
    context: .
    target: app
  depends_on:
    <<: *common-depends-on
  volumes:
    - ./src:/app/src
    - ./deploy:/app/deploy
  networks:
    - amsterdam-bouwdossiers
    - default

volumes:
  azurite_data:
  db_data:

services:
  database:
    image: postgis/postgis:15-3.4
    ports:
      - 5432
    environment:
      POSTGRES_DB: dev
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
    volumes:
      - "~/.ssh/datapunt.key:/root/.ssh/datapunt.key"
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "dev", "-U", "dev" ]
      interval: 10s
      timeout: 5s
      retries: 3

  migrate:
    build:
      context: .
      target: app
    environment:
      SECRET_KEY: "insecure"
      DJANGO_SETTINGS_MODULE: main.settings
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/app
    user: 1000:1000
    command: python manage.py migrate --noinput
    restart: "no"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512mb
        reservations:
          cpus: "0.25"
          memory: 256M

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000" # Blob service
    volumes:
      - azurite_data:/data
    command: >
      azurite
      -l /data
      --blobHost 0.0.0.0
      --loose
    healthcheck:
      test: nc 127.0.0.1 10000 -z
      interval: 1s
      retries: 30

  app:
    <<: *base-app
    build:
      context: .
      target: app
    image: ${REGISTRY:-localhost:5000}/${REPOSITORY:-opdrachten/iiif-metadata-server}:${VERSION:-latest}
    ports:
      - "8000:8000"
    environment:
      <<: *common-env
    command: /app/deploy/docker-run.sh
    user: 1000:1000

  dev:
    <<: *base-app
    hostname: metadata-server
    build:
      context: .
      target: dev
    ports:
      - "8001:8000"
    environment:
      <<: *common-env
      LOG_LEVEL: "DEBUG"
      DJANGO_LOG_LEVEL: "DEBUG"
      DEBUG: "true"
      USE_JWKS_TEST_KEY: "true"
    command: python manage.py runserver 0.0.0.0:8000
    user: 1000:1000

  test:
    <<: *base-app
    build:  
      context: .
      target: tests
    environment:
      <<: *common-env
      USE_JWKS_TEST_KEY: "true"
      SECRET_KEY: "insecure"

  linting:
    build:
      context: .
      target: linting
    volumes:
      - ./src:/app/src
    user: 1000:1000

networks:
  amsterdam-bouwdossiers:
    name: amsterdam-bouwdossiers
    driver: bridge
