services:
  dev:
    ports:
      - "8002:8000"
    volumes:
      - ./src:/src
      - ./deploy:/deploy
      - ./src/importer/tests/data:/tmp/bouwdossiers

  test:
    volumes:
      - ./src:/src
      - ./src/importer/tests/data:/tmp/bouwdossiers