services:
  database:
    ports:
      - "5903:5432"
  
  dev:
    volumes:
      - ./src:/src
      - ./deploy:/deploy
      - ./src/importer/tests/data:/tmp/bouwdossiers
  
  test:
    volumes:
      - ./src:/src
      - ./deploy:/deploy
      - ./src/importer/tests/data:/tmp/bouwdossiers