services:
  metadata-database:
    ports:
      - "5903:5432"
  
  metadata-dev:
    volumes:
      - ./src:/src
      - ./deploy:/deploy
      - ./src/importer/tests/data:/tmp/bouwdossiers

  metadata-test:
    volumes:
      - ./src:/src
      - ./src/importer/tests/data:/tmp/bouwdossiers