# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

toolz # Zero-dependency library with a set of utility functions for iterators, functions, and dictionaries.
datapunt-authorization-django
jwcrypto
psycopg2-binary
datapunt-objectstore
xmltodict
setuptools  # Needed to solve Trivy security risk

# Django
django
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
djangorestframework
djangorestframework-gis
drf_yasg
drf-amsterdam


# Azure
azure-cli
azure-core
azure-identity
azure-storage-blob
azure-keyvault
azure-keyvault-secrets
opencensus-ext-django
opencensus-ext-azure
opencensus-ext-postgresql
opencensus-ext-logging
opencensus-ext-requests
