# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

Django
datapunt-authorization-django
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
djangorestframework
djangorestframework-gis
drf_yasg
jwcrypto
sentry-sdk
psycopg2-binary
datapunt-objectstore
drf-amsterdam
xmltodict
setuptools  # Needed to solve Trivy security risk